
.grid {
    background: white;
    margin-top: 20px;
    
    .item {
        width: 33.33%; 
        min-height: 560px;
        height: 560px;
        display: inline-block;
        margin-left: -5px;
        text-transform: uppercase;
        border: 2px solid $headerColor;
        box-sizing: border-box;
        overflow: hidden;
        
        img {
            min-width: 100%;
            width: auto;
        }
        
        p {
            
            line-height: 44px;
            padding: 130px 100px 0 90px;
            max-height: 560px;
            overflow: hidden;
            font-family: 'DINLight';
            font-size:  1.5rem;
            margin: 0;
            
            span {
                font-family: 'DINBold';
            }
            
            .small-span {
                font-size:  0.875rem;
                display: block;
                margin-top: 5px;
                
            } 
            
            a{
                padding: 0;
                background: transparent;
                display: block;
                margin-top: 20px;
                margin-left: 0;
            }
            
            img {
                min-width: auto;
                display: block;
            }
            
        }
        
        .fs20 {
            font-size: 1.25rem;
            line-height: 40px;
        }

        .fs27  {
            font-size: 1.688rem;
            line-height: 47px;
        }

        .fs37  {
            font-size: 2.313rem;
            line-height: 57px;
        }
        
        .brief-contact-info {
           @include brief-contact-info;
            
        }

        a {
            @include hover-effect (white, black, $blueAccentTextColor, white);
            font-size:1.125rem;
            padding: 20px;
            margin-left: 90px;
            margin-top: 15px;
        }
        
        .instagram {
            background: transparent;
            &:hover,
            &:before,
            &:after{
                background: transparent;
            }
        }
        
    }
    
    .darkGreyBg {
    background: $darkGreyBgColor;
    }

    .greyBg {
        background: #848484;
    }

    .blueBg {
        background: #5ec7da;
    }

    .yellowBg {
        background: #ff9c01;
    }

}

.instagram {
    width: 138px;
    height: 138px;
}



